FlightSystem/FlightAdmin/Service References/AdministratorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministratorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministratorService_AddAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdministrator" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_AddAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_UpdateAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdministrator" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_UpdateAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_DeleteAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdministrator" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_DeleteAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_GetAdministrator_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdministrator" />
  </wsdl:message>
  <wsdl:message name="IAdministratorService_GetAdministrator_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdministratorResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministratorService">
    <wsdl:operation name="AddAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministratorService/AddAdministrator" message="tns:IAdministratorService_AddAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministratorService/AddAdministratorResponse" message="tns:IAdministratorService_AddAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministratorService/UpdateAdministrator" message="tns:IAdministratorService_UpdateAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministratorService/UpdateAdministratorResponse" message="tns:IAdministratorService_UpdateAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministratorService/DeleteAdministrator" message="tns:IAdministratorService_DeleteAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministratorService/DeleteAdministratorResponse" message="tns:IAdministratorService_DeleteAdministrator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdministrator">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdministratorService/GetAdministrator" message="tns:IAdministratorService_GetAdministrator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdministratorService/GetAdministratorResponse" message="tns:IAdministratorService_GetAdministrator_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministratorService" type="tns:IAdministratorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAdministrator">
      <soap:operation soapAction="http://tempuri.org/IAdministratorService/AddAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdministrator">
      <soap:operation soapAction="http://tempuri.org/IAdministratorService/UpdateAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAdministrator">
      <soap:operation soapAction="http://tempuri.org/IAdministratorService/DeleteAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdministrator">
      <soap:operation soapAction="http://tempuri.org/IAdministratorService/GetAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministratorService">
    <wsdl:port name="BasicHttpBinding_IAdministratorService" binding="tns:BasicHttpBinding_IAdministratorService">
      <soap:address location="http://localhost:8733/AdministratorService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>